<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>RFY9T5P84M</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>lutra-labs.toss</key>
		<string>Tossinger AppStore</string>
		<key>lutra-labs.toss.tossShare</key>
		<string>TossingerShare App Store</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
